.Rproj.user
.Rhistory
.RData
.Ruserdata

GlobalGeoTree.csv

/GGT-10kEval-90
/Anna_datastructure_files
/GlobalGeoTree_combined_report_files
/merged/merged_report_cache
/merged/merged_report_files
/merged/final_report_cache/
/merged/final_report_files/
/merged/data/
/merged/final_report_2_cache/
/merged/final_report_2_files/